

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-position: top -31.25rem left -18.75rem,
    bottom -31.25rem right -18.75rem; 
  background-repeat: no-repeat;
}

.card {
  background-color: white;
  border-radius: 0.9375rem; 
  width: 90%;
  max-width: 21.875rem; 
  overflow: hidden;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2); 
  text-align: center;
  position: relative;
}

.semicircle {
  background-image: url("images/bg-pattern-card.svg");
  background-size: cover;
  height: 8.75rem; 
  position: relative;
}

.semicircle::before {
  position: absolute;
  content: "";
  left: 50%;
  z-index: 10;
  width: 6.875rem; 
  height: 6.875rem; 
  border-radius: 50%;
  background: #fff;
  transform: translateX(-50%) translateY(50%);
  bottom: 0;
}

img {
  border-radius: 50%;
  width: 6.25rem; 
  height: 6.25rem; 
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
}

.card h1 {
  margin-top: 4.375rem; 
  font-size: 1.125rem; 
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.card h1 .age {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  margin-left: 0.3125rem; 
}

address {
  display: block;
  color: hsl(227, 10%, 46%);
  font-size: 0.875rem; 
  margin: 0.625rem 0 1.875rem; 
}

.card hr {
  border: none;
  border-top: 0.0625rem solid hsl(0, 0%, 90%); 
}

.numbers {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 0; 
}

li {
  font-size: 1.125rem; 
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  list-style: none;
}

.numbers .stats {
  display: block;
  font-size: 0.75rem; 
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  margin-top: 0.3125rem; 
}

.attribution {
  margin-top: 1.25rem; 
  font-size: 0.6875rem; 
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}

@media (max-width: 23.4375rem) { 
  .card {
    width: 70%;
  }

  .numbers {
    padding: 0.9375rem 0; 
  }

  .numbers p {
    font-size: 1rem; 
  }

  .numbers .stats {
    font-size: 0.625rem; 
  }
}
