

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  max-width: 87.5rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}

.mobile {
  display: none;
}

.desktop {
  width: 18.75rem;
  height: 25rem;
  border-radius: 1rem 0 0 1rem ;
}

.text {
  height: 25rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius:  0 1rem 1rem 0;
}

.category {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  margin-top: .3rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
  font-size: .8rem;
}

h1 {
  width: 12.5rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces";
}

.description {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 0.875rem;
  width: 15.625rem;
  margin-bottom: 0.9375rem;
  font-family: "Montserrat";
}

.price {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
}

.old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  position: relative;
  top: -0.4375rem;
  left: 0.625rem;
}

button {
  width: 15.625rem;
  padding: 0.9375rem;
  margin-top: 1.25rem;
  border-radius: 0.625rem;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-weight: 500;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

button:hover {
  background-color: hsl(158, 36%, 20%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 48rem) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile {
    display: block;
    width: 21.25rem;
    border-radius: 1rem 1rem 0 0;
  }

  .desktop {
    display: none;
  }

  .text {
    width: 21.25rem;
    height: 22rem;
    border-radius: 0 0 1rem 1rem ;
  }

  h1 {
    width: 17.5rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces";
  }

  .description {
    width: 18.75rem;
  }

  .pricing {
    margin-bottom: 0.625rem;
  }

  button {
    width: 18.125rem;
    margin-bottom: 1.25rem;
  }
}
